CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUNIV=y
CONFIG_DRAM_CLK=156
CONFIG_DRAM_ZQ=0

CONFIG_SYS_TEXT_BASE=0x81700000

CONFIG_DEFAULT_DEVICE_TREE="suniv-f1c100s-licheepi-nano"
CONFIG_DEVICE_TREE_INCLUDES="suniv-f1c100s-licheepi-nano-spiflash.dtsi"

CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=tty0 console=ttyS0,115200 panic=5 rootwait root=/dev/mtdblock3 rw rootfstype=jffs2"

CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="sf probe; sf read 0x80C00000 0x100000 0x4000; sf read 0x80008000 0x110000 0x480000; bootz 0x80008000 - 0x80C00000"

CONFIG_SPI_BOOT=y

CONFIG_CMD_LSBLK=y
CONFIG_CMD_JFFS2=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y

CONFIG_FS_JFFS2=y
CONFIG_JFFS2_DEV="nor0"
CONFIG_JFFS2_PART_OFFSET=0x0
CONFIG_JFFS2_PART_SIZE=0xFFFFFFFF
CONFIG_JFFS2_LZO=y
CONFIG_JFFS2_NAND=y

# CONFIG_VIDEO_SUNXI is not set
CONFIG_SPL_SPI_SUNXI=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XTX=y
CONFIG_SPI=y
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
CONFIG_ENV_SIZE=0x8000
CONFIG_ENV_OFFSET=0xf8000


CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_MACRONIX=y

# CONFIG_SPL_DM_SERIAL is not set
CONFIG_DM_SPI=y
CONFIG_SUN6I_SPI=y
CONFIG_SPI_MEM=y

CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_BOOTDEV_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_USE_4K_SECTORS=y
CONFIG_SPI_FLASH_MTD=y